/* Basic reset: */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #628a63;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 80vw;

  margin: 0 auto;
}

h2 {
  padding-left: 5vw;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Neuton', serif;
  font-weight: bold;
  font-size: 4.5rem;
}

li {
  list-style-type: none;
}

.plantsList {
  display: flex;
  flex-direction: column;
}

.plantsListKey {
  display: flex;
  height: 2.5em;
  align-items: center;

  font-size: 1.1em;
  color: white;

  background-color: #628a63;
  border-radius: 15px;
}

.plantWrapper {
  display: flex;
  align-items: center;

  height: 3em;

  font-size: 1.5em;
}

/* 'plantName' and 'plantHarvest' are repeated in List.js and Plant.js components. Now, I can use the same flex in list's key and each individual plant. It should allow them to stay properly vertically aligned, while reducing amount of CSS. */
.plantName {
  flex: 8;
  padding-left: 5vw;
}

.plantHarvest {
  flex: 7;
}

.plantAction {
  flex: 1;
}

/* Using div instead of divider. Reason: I'm not sure if divider would be a good fit here in terms of accessibility. For now, I just need to visually separate plants. */
.separator {
  width: 96%;
  height: 3px;
  margin: 0 auto;
  background-color: hsl(122, 17%, 76%);
}

.inputWrapper {
  display: flex;
  flex-direction: row-reverse;
}

.button {
  background-color: #628a63;
  align-content: center;
  color: white;
  border-radius: 15px;
  border-style: none;

  cursor: pointer;
}

.showForm {
  width: 2.5em;
  height: 1.5em;

  margin-top: 10px;
  margin-right: 1.5vw;

  font-size: 1.8em;
}

.closeForm,
.submitForm {
  width: 4em;
  height: 1.5em;
  font-size: 1.8em;
  background-color: white;
  align-content: center;
  color: #628a63;
}

.form {
  position: absolute;
  left: 0;
  top: 0;

  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  justify-content: center;
}

.visible {
  display: flex;
}

.hidden {
  display: none;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 10vh;

  width: 500px;
  height: 500px;

  border-radius: 15px;
  font-size: 24px;
  background-color: #628a63;
  padding: 50px 50px;
}

.formInput {
  height: 3em;
  width: 16em;
  background-color: white;
  color: #628a63;
  border-radius: 15px;
  border-style: none;
  font-size: 1em;
  margin: 10px 10px;
  padding: 0px 0px 0px 20px;
}

/* Removing arrows from number input: Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Removing arrows from number input: Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px;
}

.submitForm {
  font-weight: bold;
}

.plantDelete {
  color: rgba(98, 138, 99, 0.6);
}
